<!DOCTYPE html>
<html>
    <head>
        <title>Assignment - 5</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body ng-app="indexModule">
        <div ng-controller="indexController">

            <div>
                Search : <input ng-model="searchText"><br>
                <a href="#" ng-click="showSearchDialogue()">Advanced Search</a>
                <div ng-show="showDialogue">
                    Search by Name: <input ng-model="nameText"><br>
                    Search by Email : <input ng-model="emailText"><br>
                    <input type="button" value="Search" ng-click="searchContent()">
                </div>
            </div>
            <hr>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in appData| filter:searchText" ng-click="visibleData = (visibleData === true)? false: true">
                        <td>
                            {{user.name}}
                            <template-directive ng-show='visibleData'></template-directive>
                        </td>
                        <td>{{user.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Including scripts -->
        <script src="node_modules\angular\angular.js"></script>
        <script src="index.js"></script>
    </body>
</html>